html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Monda", "Arial", "Noto Sans TC", "微軟正黑體", sans-serif;
}

html {
  overflow-y: hidden;
}

.loading_wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f0ebd8;
  z-index: 999;
}

.loading_content {
  position: absolute;
  width: 30vh;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ico {
  position: absolute;
  width: 40%;
  height: 20%;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./img/bg/loading.png");
  background-size: cover;
  animation: ico 3s linear infinite;
  transform-origin: 30% 30%;
}

@keyframes ico {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  20% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }

  50% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  70% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }
}

.word_lo {
  position: absolute;
  top: 50%;
  font-size: 4vh;
  color: #7eabb1;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.word_lo.w1 {
  left: 20%;
}

.word_lo.w2 {
  left: 40%;
}

.word_lo.w3 {
  left: 60%;
}

.word_lo.w4 {
  left: 80%;
}


.s_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#img_content {
  /* position: absolute; */
  position: relative;
  width: 100vw;
  height: 400vh;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}

#section1,
#section2,
#section3,
#section4 {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
}

#section1 {
  top: 0;
}

#section2 {
  top: 25%;
}

#section3 {
  top: 50%;
}

#section4 {
  top: 75%;
}

.logo {
  position: absolute;
  width: auto;
  height: 10%;
  top: 5%;
  left: 80%;
  filter: invert(1);
  opacity: 0.5;
  animation: btn 2s infinite;
}

.img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.img.i_01,
.img.i_02,
.img.i_03{
  top: 0;
}

.img.i_04{
  bottom: 0%;
}

.story_text {
  position: absolute;
  width: 50%;
  height: 40%;
  font-size: 3vh;
  letter-spacing: 0.15em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
}

.story_text.s1 {
  top: 55%;
  left: 50%;
}

.story_text.s2 {
  top: 30%;
  left: 20%;
}


.story_text.s3 {
  top: 30%;
  left: 60%;
}

.story_text.s4 {
  top: 55%;
  left: 25%;
  text-align: center;
}

.gohome {
  position: absolute;
  width: 20%;
  height: 10%;
  top: 75%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background: #f0ebd8;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 3vh;
  font-weight: 700;
  border-radius: 20vh;
  box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5);
  animation: btn 2s infinite;
  transition: 0.5s;
}

.gohome:active {
  box-shadow: none;
  animation: none;
}

@keyframes btn {
  0% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1200px) {
  .story_text.s1 {
    left: 30%;
    width: 65%;
  }

  .story_text.s2{
    left: 10%;
  }

  .story_text.s3 {
    left: 50%;
    top:50%;
    width: 60%;
  }

  .img.i_04{
    width: 120%;
    left: -10%;
  }
}